@font-face {
	font-family: 'Nanum';
	src: url('./assets/fonts/NanumPenScript-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'YeonSung';
	src: url('./assets/fonts/YeonSung-Regular.ttf') format('truetype');
}
